.banner-main {
    text-align: center;
    background-color: #455659;
    color: #fff;
    width: 100%;
    padding: 15px 0 20px 0;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../images/background-primary-neutral.jpg');
    background-size: cover;
}
.home-logo {
    position:relative;
    top:5px;
    right:10px;
}

div.color {
    width: 80px;
    height: 80px;
}


h1, h2, h3, h4, h5, h6,
.heading,
.explore-invite .explore-title,
.first-level-link, .first-level-btn,
.slide-text .title,
.stat-counter,
.circles-text,
.header-slideshow-banner .banner-control {
    font-family: 'Alata', sans-serif;
}

.panel .panel-heading h2, .panel .panel-heading h3, .panel .panel-heading h4, .panel .panel-heading h5, .panel .card-heading h2, .panel .card-heading h3, .panel .card-heading h4, .panel .card-heading h5, .panel .card-header h2, .panel .card-header h3, .panel .card-header h4, .panel .card-header h5, .card .panel-heading h2, .card .panel-heading h3, .card .panel-heading h4, .card .panel-heading h5, .card .card-heading h2, .card .card-heading h3, .card .card-heading h4, .card .card-heading h5, .card .card-header h2, .card .card-header h3, .card .card-header h4, .card .card-header h5 {
    font-family: 'Alata', sans-serif;
}

.outer {
    width:80px;
}

@media (min-width: 768px) {
    .ask-group {
        font-family: 'Alata', sans-serif;
    }
}
    /*CUSTOM Typography Below*/

